# URL base do seu backend Laravel
NUXT_PUBLIC_API_BASE_URL="http://localhost:8000/api"

# URL base para imagens (Logos, Produtos) caso o storage fique no Laravel
NUXT_PUBLIC_STORAGE_URL="http://localhost:8000/storage"